# Core ML Libraries
scikit-learn==1.5.1
tensorflow==2.17.0

# Data Handling
numpy==1.26.4
pandas==2.2.3

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Jupyter & Notebook Tools
jupyter==1.0.0
jupyterlab==4.2.5
notebook==7.2.2
ipykernel==6.29.5

# Utilities
scipy==1.14.1
joblib==1.4.2
